<ion-header>
  <ion-navbar color="primary">
    <ion-title> {{ listName | placeholder:'Nueva lista' }}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-item>
        <ion-label floating>Nombre de la lista</ion-label>
        <ion-input type="text" [(ngModel)]="listName" name="listName"></ion-input>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label floating>Item:</ion-label>
        <ion-input (keyup.enter)="add()"
        type="text" value="" [(ngModel)]="itemName" name="itemName" ></ion-input>
      </ion-item>
    </ion-card-content>

    <button ion-button (click)="add()">Agregar</button>

  </ion-card>

  <ion-card *ngIf="items.length > 0">

    <ion-card>
      <ion-card-header>
        <h3>Items agregados</h3>
      </ion-card-header>

      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let item of items; let i = index">
            <button ion-button color="dark" clear>
              {{ item.name }}
            </button>
            <button ion-button (click)="removeItem(i)" outline color="danger" item-right icon-left>
              <ion-icon ios="ios-trash" md="md-trash"></ion-icon> 
              Borrar item
            </button>
          </ion-item>        
        </ion-list>
      </ion-card-content>
    </ion-card>

  </ion-card>

  <button ion-button icon-left class="button-block">
    <ion-icon ios="ios-add-circle" md="md-add-circle"></ion-icon>
    Agregar Lista
  </button>

</ion-content>
