<ion-header>
    <ion-navbar color="primary">
      <ion-title> {{ list.name }} </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content padding>

        <ion-card>
            <ion-card-header>

                <ion-item>
                    <ion-label floating>Nombre de la lista</ion-label>
                    <ion-input type="text" [(ngModel)]="list.name"></ion-input>
                </ion-item>
                        
            </ion-card-header>
            <ion-card-content>

                <ion-list>

                    <ion-item *ngFor="let item of list.items" (click)="updateItem(item)">
                        <ion-icon item-left *ngIf="!item.complete" ios="ios-square-outline" md="md-square-outline"></ion-icon>
                        <ion-icon item-left *ngIf="item.complete" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
                        <h2 [class.scratched]="item.complete">{{ item.name }}</h2>
                    </ion-item>

                </ion-list>

            </ion-card-content>
        </ion-card>
        <br><br>
        <button (click)="deleteItem()"
                ion-button class="button-block" color="danger"
                  
        >Borrar lista  </button>

  </ion-content>