
<ion-header>
  <ion-navbar color="primary">
    <ion-title> Lista de terminados </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

    <ion-grid *ngIf="!(_listaDeseos.lists | pendientes:true).length">
        <ion-row>
          <ion-col class="text-center box-empty">
            <ion-icon class="icon-giant" 
              ios="ios-sunny" md="md-sunny"></ion-icon>
            <p>No hay ninguna lista</p>
          </ion-col>
        </ion-row>
      </ion-grid>

    <ion-card *ngFor="let list of _listaDeseos.lists | pendientes:true; let i = index">
  
      <ion-item color="dark" (click)="showDetail(list, i)">
        <h2 ion-text color="light">{{ list.name }}</h2>
        <ion-note item-right>
          {{ list.items.length }} items
        </ion-note>
      </ion-item>
  
      <ion-list>
  
        <ion-item *ngFor="let item of list.items | slice:0:2" 
                  (click)="showDetail(list, i)">
          <ion-icon *ngIf="!item.complete" ios="ios-square-outline" md="md-square-outline"></ion-icon>
          <ion-icon *ngIf="item.complete" ios="ios-checkbox-outline" md="md-checkbox-outline"></ion-icon>
          {{ item.name }} 
        </ion-item>
  
        <ion-item class="text-center">
            <ion-icon *ngIf="list.items.length > 2" color="primary" ios="ios-arrow-dropdown" md="md-arrow-dropdown"></ion-icon>
        </ion-item>
  
      </ion-list>
    </ion-card>

  </ion-content>
  
